/* header */
.header{
    height: 76px;
}

.nav-bar{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 16px 7%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-logobox{
    display: flex;
    align-items: flex-end;
}

.nav-logobox p{
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.nav-logo img{
    width: 128px;
}

.nav-bar .n-btn{
    display: block;
    background-color: #da6b64;
    padding: 10px 40px;
    color: white;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2em;
}


/* mainここから */
/* section1 */
.sec1{
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
}
  
.sec1-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.sec1-h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7;
}
  
.sec1-subtitle{
    font-size: 20px;
}

/* section2 */
.sec2{
    background-color: #EBB94D;
    font-weight: 600;
    padding: 35px 0;
}
  
  
.sec2 p{
    color: white;
    font-size: 20px;
}
  
.sec2-span{
    color: #c7254e;
    font-size: 18px;
    background-color: #fff;
    border-radius: 4px;
}
  
.sec2-btn{
    margin: 50px auto;
}
  
.sec2-btn a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 30px 120px;
    background-color: #da6b64;
    border-radius: 50px;
}
  
.sec2-btn a:hover{
    background-color: #d84940;
    text-decoration: none;
}
  
.sec2-ul{
    display: flex;
    justify-content: center;
    padding: 0;
}

.sns {
    display: flex;
    justify-content: center;
    line-height: 10px;  
}

/* section3 */
.yellowbracketswide {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellowbracketswide::before, .yellowbracketswide::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellowbracketswide::before { 
    top: 0; 
    left: 0; 
    border-top: 4px solid #ebb94d; 
    border-left: 4px solid #ebb94d;
}

.yellowbracketswide::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d; 
    border-right: 4px solid #ebb94d;
}

.sec3{
    background: url(../img/introbottom.jpg);
    background-size: cover;
    background-position: center;
}
  
.sec3-h2{
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}
  
.sec3-textbox{
    padding: 40px 0;
}
    
.sec3-textbox p{
    text-align: center;
}
  
.sec3-span{
    font-weight: 600;
    background:linear-gradient(transparent 70%, #EBB94D 70%);
}

/* secsion4 */
.sec4{
    background-color: #FEF5E0;
    padding-bottom: 70px;
}

.about{
    position: relative;
    top: -40px;
}

.about p{
    margin: 0 auto;
    background-color: #EBB94D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: white;
    text-align: center;
}

.sec4-h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.sec4-h3{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: 30px;
}

.sec4-box{
    background-color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 35px 0;
    border: 2px solid #EBB94D;
    border-radius: 5px;
}

.sec4-img{
    display: inline-block;
    padding: 10px;
    margin: auto;
   
}

.sec4-img P{
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
}

/* section5 */
.sec5{
    background-image: url(../img/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.sec5-h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.sec5 p{
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.yellow{
    color: #ebb94d;
}

.sec5-contents{
    justify-content: center;
    text-align: center;
}
  
.sec5-box{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
    padding: 30px 30px 10px;
    border-radius: 5px;
}
 
.sec5-contents-h4{
    width: 100%;
    margin: auto;
    background-color: #EBB94D;
    border-radius: 3px;
    color: white;
}

.sec5-box p{
    color: black;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
}
/* section6 */
.sec6-blueback{
    background-color: #036EA8;
    text-align: center;
    padding: 20px 0;
}

.sec6 p{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.sec6-text span{
    color: #EBB94D;
}

/* section7 */
.sec7-h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 30px 20px 0 35px;
}

.sec7-h2 span{
    font-size: 14px;
}

.sec7-h3{
    font-size: 16px;
    text-align: center;
    margin: 30px;
}

.sec7-contents{
    display: flex;
    justify-content: space-evenly;
}

.sec7-contents img{
    width: 180px;
    height: 180px;
}

.sec7-p{
    font-size: 14pt;
    text-align: center;
    padding: 40px;
}

/* section8 */
.sec8{
    background-color: #FDF5E0;
    padding: 30px 0;
  }
  
.sec8-h2{
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}
  
.sec8-h2 span{
    font-size: 28px;
    display: block;
}
  
.sec8-contents{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
  
.sec8-item{
    padding: 25px;
}
  
.sec8-h4{
    font-size: 20px;
    font-weight: 700;
    color: #ebb94d;
    padding: 15px 0 10px;
}
  
.sec8-p{
    width: 300px;
}
  
.sec8-textbox{
    width: 80%;
    background-color: #fff;
    border: 2px solid #EBB94D;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
}
 
.sec8-boxtitle{
    font-size: 24px;
    font-weight: 600;
    color: #ebb94d;
}
  
.sec8-text-h4{
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}
  
.sec8-text{
    font-size: 14px;
}
  
.sec8 p{
    text-align: center;
    font-size: 12px;
}

/* section9 */
.sec9-background{
    background-image: url(../img/teacherbg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.ec9-h2{
    font-size: 24px;
    font-weight: 600;
}

.img-cercle{
    border-radius: 50%;
    position: relative;
    top: -120px;
    margin-top: 30px;
}

.sec-9-text-description{
    width: 300px;
}

.contens-left{
    display: flex;
    justify-content: center;
}

.contens-center{
    display: flex;
    justify-content: center;
}

.contens-right{
    display: flex;
    justify-content: center;
}
.sec9-textbox{
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #fff;
    margin-top: 100px;
    top: 100px;
}

.sec9-item{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

/* section10 */
.sec10{
    background-color: #ebb94d;  
    padding: 40px;
}

.sec10-cercle{
    color: #EBB94D;
}

.whitebracketswide {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.whitebracketswide::before, .whitebracketswide::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.whitebracketswide::before { 
    top: 0; 
    left: 0; 
    border-top: 4px solid #fff; 
    border-left: 4px solid #fff;
}

.whitebracketswide::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff; 
    border-right: 4px solid #fff;
}

.sec10{
    background-color: #EBB94D;
    padding: 40px;
    position: relative;
}
  
.sec10:before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -30px;
    border: 30px solid transparent;
    border-top: 30px solid #EBB94D;
}
  
.sec10-ball{
    color: #EBB94D;
    width: 80px;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 20px;
}

.sec10-h2{
    font-size: 28px;
    font-weight: 600;
    color:#fff;
    text-align: center;
}

/* section11 */
.sec11-h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

.sec11-h3{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.sec11-p{
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.sec11-img{
    width: 245px;
    height: 245px;
    object-fit: cover;
    border: 2px solid #ebb94d;
}

.sec11-item{
    display: flex;
    padding: 20px;
    color: #777;
    font-size: 18px;
    width: 70%;
    margin: auto;
    font-style: italic;
}

.sec11-mesesage{
    margin-left: 30px;
    margin-top: 30px;
}

.sec11-name{
    margin-top: 8px;
    font-size: 15px;
    text-decoration: underline;
}

/* section12 */
.sec12{
    background-image: url(../img/classbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.sec12-h2{
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
  
.sec12-h3{
    color: white;
    text-align: center;
    font-size: 16px;
}
  
.sec12-tablebox{
    display: flex;
    justify-content: center;
}
  
table{
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #036EA8;
    width: 30%;
    margin: 15px;
    padding: 20px;
}
  
th{
    color: white;
    background-color: #036EA8;
    padding: 15px;
}
  
td{
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}
  
.text-center th{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 2%;
}

.text-center td{
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
}

/* section13 */
.sec13{
    background-color: #036EA8;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding: 40px 0;
    text-align: center;
}

/* section14 */
.sec14-h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 70px;
}

.sec14-flow{
    text-align: center;
}

.sec14-contents{
    background-color: #fef5e0;
    display: flex;
    padding: 30px 40px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.sec14-imgbox{
    padding: 20px;
    width: 200px;
}
  
.sec14-imgbox img{
    margin: auto;
    max-width: 100%;
}
  
.sec14-textbox{
    width: 70%;
}
  
.sec14-h3{
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}
  
.sec14-p{
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
}
  
.sec14-small-p{
    font-size: 12px;
}
  
.sec14-spcontents{
    display: none;
}